@import 'profile_page.css';
@import 'recover_page.css';
@import 'start_page.css';
@import 'about_page.css';

body{
    background: #e9fcb2 !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    padding-bottom: 830px;
    box-sizing: border-box;

}

a:hover {
    text-decoration: none !important;
}

html {
    position: relative;
    min-height: 100%;
}

ul, li{
    display: block;
    padding: 0 !important;
    margin: 0 !important;
}

/*HEADER*/

.header{
    background: linear-gradient(#d1e990, #bfda7f);
    padding: 20px 0 20px 0;
    width: auto;
}

.Logo{
    display: inline-block;
    height: 41px;
    width: 222px;
}

/*Меню*/
.test{
    border: 1px solid #000;
}
.menu__header{
    margin:5px 0 0 0;
}

.menu__item a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif !important;
    padding: 0 13px 0 13px;
    margin: 0 2px 0 2px;
    color: #452815;
    transition: all 0.3s ease;
    border-radius: 20px;
    white-space: nowrap;

}
.menu__item a:hover{
    background-color: rgba(69, 40, 21, 0.43);
    text-decoration: none;
    color: #ffffff;
}

.MenuBar{
    max-width: 80%;
    opacity: 0.9;
    display: none;
    box-shadow:0 0 50px #1a200d;
    z-index: 99999;
    background: linear-gradient(#d1e990,#9db74c);
    height:100%;
    width:auto;
    position: fixed;
    top: 0;
    right: 0;
}

.closeField{
    box-shadow:0 0 50px #1a200d;
    padding: 0 20px 0 20px;
    height: 80px;
    background: #c7e187;

}

.MenuBar__link__iconClose{
    display: block;
    color: #fff;
    font-size: 50px;
}

.MenuBar__link__iconClose:hover{
    color: #d9d9d9;
}

.SlideMenu__link__icon{
    margin-top: 5px;
    color: #453815;
    font-size: 30px;
}

.menu__item__link{
    padding: 0 20px 0 20px;
    color: #3f2613;
    white-space: nowrap;
}
.menu__item__link:hover{
    color: #3f2613;
    text-decoration: none;
    white-space: nowrap;
}
.MenuBar nav{
    margin-top: 40px;
}
.SlideMenu__item{
    padding: 30px 0;
    margin-top: 20px;
    text-align: right;
    display: block;
    font-size: 60px;
    transition: all 0.3s ease;
}
.SlideMenu__item:hover{
    background-color: #e6eac8;
    box-shadow: 0 15px 15px  -15px rgba(51, 51, 51, 0.55),  0 -15px 15px  -15px #333;
}

/*Кнопка личный кабинет*/

.LogIn:hover{
    text-decoration: none;
}

.LogIn:Focus{
    outline: none;
}

.LogIn__icon{
    margin-top: 4px;
    margin-left: 10px;
}

.LogIn__text{
    border-radius: 7px;
    padding: 8px 10px 8px 10px ;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffeb;
    transition: all 0.3s ease;
    background-color: #9eb852;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.LogIn__text:hover{
    background-color: #a8c552;
}

/*Кнопка выбор города*/

.ChooseTown{
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    color: #452815;
    transition: all 0.3s ease;
}

.ChooseTown:Hover{
    color: white;
    text-decoration: none;
}

.ChooseTown__icon{
    font-size: 25px;
}

.ChooseTown__text{
    padding-right: 10px;
}

/*Выпадающий дополнительынй блок*/

.DropListTown{
    display: none;
    background-color: grey;
    height:100px;
    box-shadow: inset 0  2px 20px rgba(0,0,0,0.5);
}

/*FOOTER*/
.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 830px;
    background-color: #4c4c3b;
}

.Footer__tel__icon, .Footer__tel__num{
    font-size: 21px;
    margin: 0 0 0 13px;
    color: #232323;
}

.Footer__tel__icon{
    margin: 5px 0 0 0;
    transform: scale(-1, 1);
}

.Footer__mail__icon, .Footer__mail__email{
    font-size: 23px;
    margin: 0 0 0 13px;
    color: #232323;
}

.Footer__mail__icon{
    margin: 8px 0 0 0;
}

.footer__map{
    width:100%;
}

.footer__title{
    font-size: 24px;
    color: #fff;
    padding:30px 0 30px 0;
}

.fab{
    color: white;
    font-size: 40px;
    transition: 0.3s ease;
}
.fab:hover{
    color: #232323;
}

.Footer__contacts__title{
    color: #fff;
    padding:30px 0 30px 0;
}
.Form{
    width: 400px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 25px 27px rgba(0,0,0,0.1);
    color: #000000;
    background: linear-gradient(#ffffeb, #fffcf3);
}
.Form__label{
    color: #452815;

    font-size: 25px;
}

.Form__login__input{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d9d9d9;
}
.Form__password__input{
    width: 100%;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #d9d9d9;
}

.Form__login__input:focus, .Form__password__input:focus{
    outline: none;
}

.Form__recover__pass{
    padding: 5px 0 0 5px;
    font-style: italic;
    color: #453815;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.Form__recover__pass:hover{
    color: #cad982;
}

.Form__button{
    margin: 15px 0 15px 0;
}
.Form__button__auth{
    transition: all 0.3s ease;
    border-radius: 2px;
    color: white;
    padding: 6px 60px 6px 60px;
    background-color: #adc359;
    border: 0
}
.Form__button__auth:hover{
    cursor: pointer;
    background-color: #cad982;
}

.Form__button__auth:focus{
    outline: none;
}

.FormInfo{
    padding: 10px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: rgba(215, 255, 75, 0.36);
    text-align: center;
    margin-top: 10px;
    color: #453815;
    font-style: italic;
}
.Rights{
    color: #232323;
}

/*ВСПЛЫВАЮЩЕЕ ОКНО АВТОРИЗАЦИИ*/

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    transition: opacity .5s;
}
.popup {
    display: inline-block;
    left: 50%;
    opacity: 0;
    height: auto;
    position: fixed;
    text-align: justify;
    top: 50%;
    visibility: hidden;
    z-index: 999999;
    transform: translate(-50%, -50%);
    transition: opacity .5s, top .5s;
}
.popup .close_window {
    color: #452815;
    float: right;
    font-size: 25px;
    display: block;
    cursor: pointer;
}
.popup .close_window:hover {
    color: #888888;
}
.btn_logout{
    padding: 8px 10px 8px 10px;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #9db74c;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}
.btn_logout:hover{
    background-color: #a8c552;
    color:white;
}

/*Медиазапросы*/

@media only screen and (max-width: 615px) {
    .SlideMenu__item{
        font-size: 52px;
    }
    .MenuBar__link__iconClose{
        font-size: 45px;
    }
}

@media only screen and (max-width: 504px) {
    .Form{
        width: 320px;
    }
    .SlideMenu__item{
        font-size: 46px;
    }
    .Form__button__auth{
        padding: 6px 30px 6px 30px;
    }

    .FormInfo{
        font-size:14px;
    }
}

@media only screen and (max-width: 440px) {
    .SlideMenu__item{
        font-size: 40px;
    }
    .MenuBar__link__iconClose{
        font-size: 40px;
    }

    .Footer__tel__icon, .Footer__tel__num{
        font-size: 20px;
        margin: 0 0 0 13px;
    }

    .Footer__tel__icon{
        margin: 5px 0 0 0;
    }

    .Footer__mail__icon, .Footer__mail__email{
        font-size: 22px;
        margin: 0 0 0 13px;
    }

    .Footer__mail__icon{
        margin: 8px 0 0 0;
    }
}

@media only screen and (max-width: 400px){
    .SlideMenu__item{
        font-size: 36px;
    }
}
@media only screen and (max-width: 380px){
    .footer__title h3{
        font-size: 22px;
    }
}
@media only screen and (max-width: 360px) {
    .SlideMenu__item{
        font-size: 32px;
    }
}

@media only screen and (max-width: 330px) {
    .footer__title h3{
        font-size: 20px;
    }
    .SlideMenu__item{
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px) {
    .Form{
        width: 310px;
    }
    .Footer__tel__icon, .Footer__tel__num{
        font-size: 16px;
        margin: 0 0 0 13px;
    }

    .Footer__mail__icon, .Footer__mail__email{
        font-size: 18px;
        margin: 0 0 0 13px;
    }

    .Footer__tel__icon{
        margin: 4px 0 0 0;
    }

    .Footer__mail__icon{
        margin: 5px 0 0 0;
    }
}

@media only screen and (max-width: 300px) {
    .Footer__contacts__title h1{
        font-size: 34px;
    }
}
