
/*ABOUT US*/
.aboutTitle h1{
    color: #453815;
    margin-top: 150px;
    font-size: 50px;
}
.First_img{
    margin-top:80px;
}

.aboutText h3, .aboutText2 h3, .aboutText4 h3, .aboutText3 h3, .titleVR h2{
    color: #453815;
}
.titleVR h2{
    margin-top:100px;
}
.aboutText h2{
    margin-top: 100px;
}
.aboutText2 h3{
    margin-top: 170px;
}

.aboutText h2{
    color: #453815;
    font-size: 35px;
}

.aboutText3 h3{
    margin-top:100px;
}

.aboutText4 h3{
    margin-top:140px;
}


.aboutText p, .aboutText2 p, .aboutText3 p, .aboutText4 p, .aboutTitle p{
    font-size: 22px;
}

.Third_img1,.Third_img2,.Third_img3{
    width: 200px;
}
.Third_img2{
    display: block;
    margin-left: auto;
}
.MailBox{
    margin-bottom:100px;
}

/*PROFILE*/
.UserBlock{
    color: #453815;
    padding: 15px 20px;
    margin: 65px 0 0 0;
    background-color: #dcf396;
    border-radius: 5px;
}
.UserBlock__user__fullName{
    font-size: 22px;
    line-height: 1.2;
}
.DateBlock{
    color: #453815;
    font-size: 17px;
    padding: 15px 20px;
    margin: 25px 0 0 0;
    height: auto;
    background-color: #dcf396;
    border-radius: 5px;
}
.ProductsBlock{
    padding-bottom: 15px;
    margin: 65px 0 0 0;
    height:auto;
    background-color: #dcf396;
    border-radius: 5px;
}
.UserBlock__money__icon{
    font-size: 15px;
}
.UserBlock__btn {
    display: block;
    margin-top: 5px;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #9db74c;
    text-align: center;
}
.UserBlock__btn:hover {
    color: #fff;
}
.DateBlock__dateEnding__link__btnExtend{
    margin-top: 5px;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #9db74c;
    text-align: center;
}
.UserBlock__money__link:hover{
    text-decoration: none;
}
.ProductsBlock__header__switch__item__link:hover{
    color: #475a2d;
    text-decoration:underline!important;
}
.ProductsBlock__header__switch__item__link{
    color: #000;
    font-size: 20px;
}
.ProductsBlock__header__switch__item__link span{
    color: #677b36;
}

.ProductsBlock__header__switch__item__link.active {
    color: #677b36;
    text-shadow: 0 0 1em #abc653;
    text-decoration: underline;
}

.ProductsTable{
    margin: 0 15px 0 15px;
    background-color: #fff;
    height: auto;
    width: auto;
}
.ProductsTable__table{
    margin-bottom: 0 !important;
}
td, th{
    border-color: #fdfbff !important;
}
.ProductsTable__table__head{
    background-color: #c3d58c;
}
.ProductsBlock__header{
    padding:15px;
}

.profilePage{
    margin-bottom: 200px;
}

@media only screen and (max-width: 440px){
    .ProductsBlock__header__switch__item__link{
        font-size:18px;
    }
}

@media only screen and (max-width: 420px) {
    .ProductsBlock__header__switch__item__link{
        font-size:15px;
    }
    td, th{
        font-size: 13px;
    }
}
@media only screen and (max-width: 360px) {
    .ProductsBlock__header__switch__item__link{
        font-size:10px;
    }
    td, th{
        font-size: 8px;
    }
}

/*RECEIVING MONEY*/

.moneyTitle h1{
    margin-top:100px;
    font-size: 36px;
    color: #453815;

}

.amountMoney{
    margin: 0 0 50px 0;
}

.inputCountText{
    margin-top: 5px;
    color: #453815;
    font-size: 18px;
}
.inputCountText span{
    padding-right: 10px;
}

.chooseAmount{
    margin-right: 21px;
}

.inputCountText__icon{
    margin:5px 0 0 5px;
    color: #453815;
}

.inputCount{
    text-align: center;
    padding:0 0 0 5px;
    white-space: nowrap;
    border-radius: 5px;
}
.inputCount:focus{
    outline: none;
}

.Myqueries__Title h2{
    margin: 100px 0 20px 0;
    font-size:26px;
    color: #453815;
}

.Myqueries__Table{
    background-color: #fff;
    margin-bottom:100px;
}

.Myqueries__table__head{
    background-color: #c3d58c;
}


.Myqueries__table__head th:nth-child(1){
    width:40%;
}
.Myqueries__table__head th:nth-child(2){
    width:30%;
}
.Myqueries__table__head th:nth-child(3){
    width:30%;
}

@media only screen and (max-width: 500px) {
    .moneyTitle h1{
        margin-top:50px;
        font-size: 30px;
    }
    .Myqueries__Title h2{
        margin: 70px 0 20px 0;
    }
    .Myqueries__Table{
        margin-bottom:70px;
    }
}

@media only screen and (max-width: 420px) {
    .moneyTitle h1{
        margin-top:50px;
        font-size: 24px;
    }
    .Myqueries__Title h2{
        margin: 50px 0 20px 0;
    }
    .Myqueries__Table{
        background-color: #fff;
        margin-bottom:50px;
    }
}


/*RECOVERING PASSWORD*/



.PassRecovering{
    margin: 100px 0 200px 0;
}

.PassRecovering__title{
    color: #453815;
    font-size: 36px;

}
.PassRecovering__prompt{;
    color: #453815;
    font-size: 18px;
}

.PassRecovering__inputPhone{
    font-family: Roboto !important;
    margin-top: 10px;
    width: 12em !important;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}


.PassRecovering__inputPhone:focus{
    outline: none;
}

.PassRecovering__buttonRecovering{
    margin-top: 15px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 5px;
    color: white;
    padding: 6px 30px 6px 30px;
    background-color: #adc359;
    border: 0

}

.PassRecovering__buttonRecovering:hover{
    cursor: pointer;
    background-color: #cad982
}

.PassRecovering__buttonRecovering:focus{
    outline: none
}


/*START_PAGE*/

.Info__logo{
    margin-top: 80px;
    display: inline-block;
}

.polka-img{
    margin-top:40px;
}

.Info__text{
    font-weight: 300;
    color: #452815;
    font-size: 45px;
    margin: 100px 0 200px 0 ;
    line-height: 1.2;
    width: auto;
}

.NewsSection{
    -webkit-box-shadow: inset 0 15px 15px  -15px rgba(51, 51, 51, 0.55), inset 0 -15px 15px  -15px #333;
    box-shadow: inset 0 15px 15px  -15px rgba(51, 51, 51, 0.55), inset 0 -15px 15px  -15px #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfff8), to(#f6fccf));
    background: -webkit-linear-gradient(#fdfff8, #f6fccf);
    background: -o-linear-gradient(#fdfff8, #f6fccf);
    background: linear-gradient(#fdfff8, #f6fccf);
    height: auto;
    padding: 50px 0 50px 0;
}

.NewsBlock{
    margin: 0 0 50px 0;
}

.NewsBlock__item{
    -webkit-box-shadow: 0 1px 15px 1px rgba(51, 51, 51, 0.1);
    box-shadow: 0 1px 15px 1px rgba(51, 51, 51, 0.1);
    margin: 15px 0 15px 0;
}

.deleteNews{
    position: absolute;
    right:0;
    padding: 10px 10px 0 0;
    font-size: 30px;
    color: grey;
}
.deleteNews:hover{
    position: absolute;
    right:0;
    padding: 10px 10px 0 0;
    font-size: 30px;
    color: #cfcfcf;
    cursor: pointer;
}

.NewsBlock__content{
    border-radius: 0 0 5px 5px;
    padding: 20px !important;
    background-color: #bfda7f;
}
.NewsBlock__content__p__text{
    margin: 0 !important;
    font-size: 20px;

}
.NewsSection__title{
    color: #212529;
    margin-bottom: 20px;
}

.NewsSection__title h2{
    font-size: 40px;
    font-weight: 300;
}

.NewsBlock__content__title__item{

    font-weight: bold;
}

.pagination_block ul li a{
    color: #5d6267;
}

.pagination_block ul li a:hover{
    color: #727d86;
}

.page-link:focus{
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*Making news*/
.btn_news_making{
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 5px;
    color: white;
    background-color: #adc359;
    border: 0;
    padding: 6px 10px 6px 10px;
    font-weight: 300;
}

.i_icon{
    font-size: 18px;
    margin-right:3px;
    display: inline-block;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.i_icon.active {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.btn_news_making:hover{
    background-color: #c0d65b;
    cursor: pointer;
}

.btn_news_making:focus{
    outline: none;
}

textarea{
    padding:0 5px 0 5px;
    width: 100%;
}

.add_news{
    margin-top:3px;
    margin-bottom:50px;
}

.dateAdd span{
    font-size: 17px;
}

.inputFile{
    margin-bottom: 10px;
}

.news_layout{
    display: none;
}

.inputTitleNews{
    width:100%;
    margin-bottom:10px;
}


/*MAIN*/

body{
    background: #e9fcb2 !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    padding-bottom: 830px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

a:hover {
    text-decoration: none !important;
}

html {
    position: relative;
    min-height: 100%;

}

ul, li{
    display: block;
    padding: 0 !important;
    margin: 0 !important;
}

/*HEADER*/

.header{
    background: -webkit-gradient(linear, left top, left bottom, from(#d1e990), to(#bfda7f));
    background: -webkit-linear-gradient(#d1e990, #bfda7f);
    background: -o-linear-gradient(#d1e990, #bfda7f);
    background: linear-gradient(#d1e990, #bfda7f);
    padding: 20px 0 20px 0;
    width: auto;
}

.Logo{
    display: inline-block;
    height: 41px;
    width: 222px;
}

/*Меню*/
.test{
    border: 1px solid #000;
}
.menu__header{
    margin:5px 0 0 0;
}

.menu__item a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif !important;
    padding: 0 13px 0 13px;
    margin: 0 2px 0 2px;
    color: #452815;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 20px;
    white-space: nowrap;

}
.menu__item a:hover{
    background-color: rgba(69, 40, 21, 0.43);
    text-decoration: none;
    color: #ffffff;
}

.MenuBar{
    max-width: 90%;
    opacity: 0.9;
    display: none;
    -webkit-box-shadow:0 0 50px #1a200d;
    box-shadow:0 0 50px #1a200d;
    z-index: 99999;
    background: -webkit-gradient(linear,left top, left bottom,from(#d1e990),to(#9db74c));
    background: -webkit-linear-gradient(#d1e990,#9db74c);
    background: -o-linear-gradient(#d1e990,#9db74c);
    background: linear-gradient(#d1e990,#9db74c);
    height:100%;
    width:auto;
    position: fixed;
    top: 0;
    right: 0;
}

.closeField{
    -webkit-box-shadow:0 0 50px #1a200d;
    box-shadow:0 0 50px #1a200d;
    padding: 0 20px 0 20px;
    height: 80px;
    background: #c7e187;

}

.MenuBar__link__iconClose{
    display: block;
    color: #fff;
    font-size: 50px;
}

.MenuBar__link__iconClose:hover{
    color: #d9d9d9;
}

.SlideMenu__link__icon{
    margin-top: 5px;
    color: #453815;
    font-size: 30px;
}

.menu__item__link{
    padding: 0 20px 0 20px;
    color: #3f2613 !important;
    white-space: nowrap;
}
.menu__item__link:hover{
    color: #3f2613 !important;
    text-decoration: none;
    white-space: nowrap;
}
.MenuBar nav{
    margin-top: 40px;
}
.SlideMenu__item{
    padding: 30px 0;
    margin-top: 20px;
    text-align: right;
    display: block;
    font-size: 60px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.SlideMenu__item:hover{
    background-color: #e6eac8;
    -webkit-box-shadow: 0 15px 15px  -15px rgba(51, 51, 51, 0.55),  0 -15px 15px  -15px #333;
    box-shadow: 0 15px 15px  -15px rgba(51, 51, 51, 0.55),  0 -15px 15px  -15px #333;
}

/*Кнопка личный кабинет*/

.LogIn:hover{
    text-decoration: none;
}

.LogIn:Focus{
    outline: none;
}

.LogIn__icon{
    margin-top: 4px;
    margin-left: 10px;
}

.LogIn__text{
    border-radius: 7px;
    padding: 8px 10px 8px 10px ;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffeb;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #9eb852;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.LogIn__text:hover{
    background-color: #a8c552;
}

/*Кнопка выбор города*/

.ChooseTown{
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    color: #452815;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ChooseTown:Hover{
    color: white;
    text-decoration: none;
}

.ChooseTown__icon{
    font-size: 25px;
}

.ChooseTown__text{
    padding-right: 10px;
}

/*Выпадающий дополнительынй блок*/

.DropListTown{
    display: none;
    background-color: rgb(235, 240, 204);
    -webkit-box-shadow: inset 0 15px 15px  -15px rgba(51, 51, 51, 0.55), inset  0 -15px 15px  -18px #333;
    box-shadow: inset 0 15px 15px  -15px rgba(51, 51, 51, 0.55), inset  0 -15px 15px  -18px #333;
}

.ListTown{
    padding: 10px 0 10px 0 !important;
}

.ListTown li a{
    font-size: 30px;
    color: #9eb852;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}


.ListTown li a:hover{
    color: #bdd859;
}


.closeDrop{
    font-size:20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.closeDrop:hover{
    font-size:20px;
    color: grey;
}



/*FOOTER*/

.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 830px;
    background-color: #4c4c3b;
}

.Footer__tel__icon, .Footer__tel__num{
    font-size: 21px;
    margin: 0 0 0 13px;
    color: #bfda7f;
}

.Footer__tel__icon{
    margin: 5px 0 0 0;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.Footer__mail__icon, .Footer__mail__email{
    font-size: 23px;
    margin: 0 0 0 13px;
    color: #bfda7f;
}

.Footer__mail__icon{
    margin: 8px 0 0 0;
}

.footer__map{
    width:100%;
}

.footer__title{
    font-size: 24px;
    color: #fff;
    padding:30px 0 30px 0;
}

.fab{
    color: white;
    font-size: 40px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.fab:hover{
    color: #bfda7f;
}

.Footer__contacts__title{
    color: #fff;
    padding:30px 0 30px 0;
}
.Form{
    width: 400px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 0 25px 27px rgba(0,0,0,0.1);
    box-shadow: 0 25px 27px rgba(0,0,0,0.1);
    color: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffeb), to(#fffcf3));
    background: -webkit-linear-gradient(#ffffeb, #fffcf3);
    background: -o-linear-gradient(#ffffeb, #fffcf3);
    background: linear-gradient(#ffffeb, #fffcf3);
}
.Form__label{
    color: #452815;

    font-size: 25px;
}

.Form__login__input{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d9d9d9;
}
.Form__password__input{
    width: 100%;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #d9d9d9;
}

.Form__login__input:focus, .Form__password__input:focus{
    outline: none;
}

.Form__recover__pass{
    padding: 5px 0 0 5px;
    font-style: italic;
    color: #453815;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.Form__recover__pass:hover{
    color: #cad982;
}

.Form__button{
    margin: 15px 0 15px 0;
}
.Form__button__auth{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 2px;
    color: white;
    padding: 6px 60px 6px 60px;
    background-color: #adc359;
    border: 0
}
.Form__button__auth:hover{
    cursor: pointer;
    background-color: #cad982;
}

.Form__button__auth:focus{
    outline: none;
}

.FormInfo{
    padding: 10px 0 10px 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: rgba(215, 255, 75, 0.36);
    text-align: center;
    margin-top: 10px;
    color: #453815;
    font-style: italic;
}
.Rights{
    color: #bfda7f;
}

/*ВСПЛЫВАЮЩЕЕ ОКНО АВТОРИЗАЦИИ*/

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.fail-auth{
    padding: 30px;
    -webkit-box-shadow: 0 0 20px #9b000c;
    box-shadow: 0 0 20px #9b000c;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffeb), to(#fffcf3));
    background: -webkit-linear-gradient(#ffffeb, #fffcf3);
    background: -o-linear-gradient(#ffffeb, #fffcf3);
    background: linear-gradient(#ffffeb, #fffcf3);
    border-radius: 10px;
    left: 50%;
    opacity: 1;
    position: fixed;
    text-align: justify;
    top: 50%;
    visibility: visible;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fail-auth span{
    font-size: 20px;
    color: #452815;
}
.fail-auth button{
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    border:none;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border-radius: 7px;
    margin-top:15px;
    color: #ffffeb;
    background-color: #9eb852;
    cursor: pointer;
}

.fail-auth button:focus{
    outline:none;
}

.fail-auth h2{
    text-align: center;
    color: #452815;

}
.popup {
    display: inline-block;
    left: 50%;
    opacity: 0;
    height: auto;
    position: fixed;
    text-align: justify;
    top: 50%;
    visibility: hidden;
    z-index: 999998;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup .close_window {
    color: #452815;
    float: right;
    font-size: 25px;
    display: block;
    cursor: pointer;
}
.popup .close_window:hover {
    color: #888888;
}
.btn_logout{
    padding: 8px 10px 8px 10px;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #9db74c;
    text-align: center;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.btn_logout:hover{
    background-color: #a8c552;
    color:white;
}
.btn_logout_slide{
    margin-left: auto;
    padding: 2px 10px 2px 10px;
    font-size: 35px;
    border-radius: 5px;
    color: #fff;
    background-color: #9db74c;
    text-align: center;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}


.btn_logout_slide:hover{
    background-color: #a8c552;
    color:white;
}

/*Медиазапросы*/



@media only screen and (max-width: 1198px)  {
    .aboutText p, .aboutText2 p, .aboutText3 p, .aboutText4 p, .aboutTitle p{
        font-size: 20px;
    }
    .aboutTitle h1{
        margin-top: 130px;
    }
    .Info__text{
        font-size: 38px;
    }
}


@media only screen and (max-width: 991px){
    .Third_img1,.Third_img2,.Third_img3{
        width: 400px;
    }
    .MailBox{
        width:500px;
        margin-top:50px;
        margin-bottom:100px;
    }
    .titleVR h2{
        margin-top:50px;
    }
    .aboutText3 h3{
        margin-top:50px;
    }
    .aboutText4 h3{
        margin-top:50px;
    }
    .aboutText2 h3{
        margin-top: 50px;
    }
    .aboutText h2{
        margin-top: 50px;
    }
    .aboutTitle h1{
        margin-top: 50px;
    }
    .First_img{
        margin-top:50px;
    }
}


@media only screen and (max-width: 767px) {

    .Info__text {
        font-size: 25px;
        margin: 60px 0 60px 0;
    }

    .NewsBlock__content__p__text {
        font-size: 20px;
    }
}


@media only screen and (max-width: 615px) {
    .fail-auth h2{
        font-size: 25px;
    }
    .fail-auth{
        padding: 15px;
        left: 50%;
        top: 50%;
    }
    .fail-auth span{
        font-size: 15px;
        color: #452815;
    }
    .fail-auth button{
        padding: 5px 20px 5px 20px;
        font-size: 15px;
        margin-top:15px;
    }

    .SlideMenu__item{
        font-size: 52px;
    }
    .MenuBar__link__iconClose{
        font-size: 45px;
    }
}


@media only screen and (max-width: 576px)  {

    .Info__text{
        font-size: 24px;
        margin: 55px 0 55px 0;
    }
}


@media only screen and (max-width: 504px) {
    .Form{
        width: 320px;
    }
    .SlideMenu__item{
        font-size: 46px;
    }
    .Form__button__auth{
        padding: 6px 30px 6px 30px;
    }

    .FormInfo{
        font-size:14px;
    }
}

@media only screen and (max-width: 500px)  {

    .PassRecovering__title{
        color: #453815;
        font-size: 32px;
    }
    .PassRecovering{
        margin: 50px 0 100px 0;
    }
    .Info__logo{
        margin-top: 25px;
    }
    .NewsBlock__content__p__text{
        font-size: 17px;
    }

}




@media only screen and (max-width: 456px)  {
    .fail-auth button{
        padding: 3px 15px 3px 15px;
        font-size: 13px;
        margin-top:10px;
    }

    .NewsSection{
        padding: 30px 0 30px 0;
    }

    .TEST-img{
        margin: 30px;
        width: 70%;
    }

    .Info__text{
        margin: 50px 0 50px 0;
        font-size: 20px;
    }

    .NewsBlock__content__p__text{
        font-size: 15px;
    }
    .dateAdd span{
        font-size: 16px;
    }
    .NewsSection__title{
        margin-bottom: 20px;
    }

}


@media only screen and (max-width: 440px) {
    .fail-auth{
        width: 60%;
    }
    .SlideMenu__item{
        font-size: 40px;
    }
    .MenuBar__link__iconClose{
        font-size: 40px;
    }

    .Footer__tel__icon, .Footer__tel__num{
        font-size: 20px;
        margin: 0 0 0 13px;
    }

    .Footer__tel__icon{
        margin: 5px 0 0 0;
    }

    .Footer__mail__icon, .Footer__mail__email{
        font-size: 22px;
        margin: 0 0 0 13px;
    }

    .Footer__mail__icon{
        margin: 8px 0 0 0;
    }
}

@media only screen and (max-width: 400px){
    .SlideMenu__item{
        font-size: 36px;
    }
}

@media only screen and (max-width: 386px)  {
    .dateAdd span{
        font-size: 14px;
    }
    .Info__text{
        margin: 50px 0 50px 0;
        font-size: 17px;
    }
    .NewsBlock__content__p__text{
        font-size: 15px;
    }

}

@media only screen and (max-width: 380px){
    .footer__title h3{
        font-size: 22px;
    }
}
@media only screen and (max-width: 360px) {
    .titleVR h2{
        font-size:25px;
    }
    .SlideMenu__item{
        font-size: 32px;
    }
}


@media only screen and (max-width: 332px)  {
    .fail-auth{
        width: 80%;
    }
    .dateAdd span{
        font-size: 12px;
    }
    .Info__text{
        margin: 30px 0 30px 0;
        font-size: 15px;

    }
    .NewsBlock__content__p__text{
        font-size: 14px;
    }

}

@media only screen and (max-width: 330px) {
    .footer__title h3{
        font-size: 20px;
    }
    .SlideMenu__item{
        font-size: 26px;
    }
}

@media only screen and (max-width: 320px) {


    .PassRecovering__inputPhone{
        padding: 7px;
    }

    .PassRecovering__prompt{;
        font-size: 15px;
    }
    .Form{
        width: 310px;
    }
    .Footer__tel__icon, .Footer__tel__num{
        font-size: 16px;
        margin: 0 0 0 13px;
    }

    .Footer__mail__icon, .Footer__mail__email{
        font-size: 18px;
        margin: 0 0 0 13px;
    }

    .Footer__tel__icon{
        margin: 4px 0 0 0;
    }

    .Footer__mail__icon{
        margin: 5px 0 0 0;
    }
}

@media only screen and (max-width: 300px) {
    .dateAdd span{
        font-size: 11px;
    }
    .Footer__contacts__title h1{
        font-size: 34px;
    }
}

#tour {
    border-radius: 10px;
    margin-top:50px;
    height: 70vh;
}